{% extends "layout.html" %}

{% block title %}
    Eventos
{% endblock %}

{% block main %}
<div>
  <h1>Criar Novo Evento</h1>
  <div class="container">
    <form action="/events" method="post">
      <div class="form-group">
        <label for="title">Nome do evento:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Digite seu nome">
      </div>
      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" class="form-control"  name="description" name="description" placeholder="Descreva como será o evento" rows="3"></textarea><br>
      </div>
      <div class="form-group">
        <label for="location">Localização:</label>
        <input type="text" class="form-control" id="location" name="location"></input>

        <label for="country">País:</label>
        <input type="text" class="form-control" id="country" name="country"></input>
      </div>
      <div class="form-group">
        <label for="date">Data:</label>
        <input type="date" class="form-control" id="date" name="date"></input>
      </div>
      <button type="submit" class="btn btn-success">Criar</button>
      <a href="/event-list" class="btn btn-danger">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
