{% extends "layout.html" %}

{% block title %}
Eventos
{% endblock %}

{% block main %}
<div>
  <div class="bar">
    <div class="container mt-5">
      <a class="btn btn-primary" href="/events">Novo evento</a>
    </div>

    <div class="search">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Digite sua pesquisa">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="container mt-5">
    <h2 class="text-left mb-4">Eventos</h2>
    <div class="row-cols-xl-4">
      {% for event in events %}
      <div class="col-md-3">
        <div class="card card-event">
          <h4 class="card-title text-capitalize">{{event.title}}</h4>
          <p class="card-text">{{event.location}} - {{event.country}}</p>

          <!-- Botão para abrir o modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-{{ event.id }}">Ler
            mais</button>

          <!-- O modal -->
          <div id="myModal-{{ event.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title"> {{ event.title }}</h2>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Descrição: {{ event.description }}</p>
                  <p>Data: {{ event.date }}</p>
                  <p>Local: Lago - <span> Horário 12:30hrs</span></p>
                  <p>Cidade: {{ event.location }} - País: {{ event.country }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}