<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <link href="/static/favicon.ico" rel="icon">
  <link href="/static/styles.css" rel="stylesheet">
  <title>SpotSport: {% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-around">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">SpotSport</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="nav-link" href="/home">Home</a></li>
        <li><a class="nav-link" href="/event-list">Buscar eventos</a></li>
        <li><a class="nav-link" href="/user-list">Novos amigos</a></li>
        <li><a class="nav-link" href="/records">Meu histórico</a></li>
        <li><a class="nav-link" href="/login"><strong class="text-uppercase">{{username}}</strong> <span
              class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block main %}{% endblock %}
  </div>
  <br>
  <footer class="footer">
    <div class="container">
      <p>SpotSport - Todos os direitos reservados.</p>
    </div>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>