<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Login - Minha Página</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="rounded mx-auto d-block" src="/static/favicon.ico" alt="logo">
        <br>
        <h2 class="text-center mb-4">Faça login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <h6 class="flash-messages text-center alert alert-info">{{ messages[0] }}</h6>
        {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="email">Endereço de email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" name="password" placeholder="Digite sua senha"
              required>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>
        <div class="text-center mt-3">
          <a href="/password">Esqueci minha senha</a> ou <a href="/create-user">criar conta</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>