{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<h2 class="text-center mb-4">Histórico</h2>
<div class="container mt-5">
    {% for record in records %}
    <ul class="list-group">
        <li class="record-itens list-group-item">
            <div>
                <span>{{ record.event.title }}</span>
            </div>
            <div class="record-badges">
                <a href="#">Ver evento</a>
                {% if record.user_id == record.event.creator_id %}
                <span style="background-color: #198754;" class="bg-success badge">Organizador(a)</span>
                {% else %}
                <span style="background-color: #0d6efd;" class="badge">Participante</span>
                {% endif %}
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}