{% extends "layout.html" %}

{% block title %}
Configurações
{% endblock %}

{% block main %}
<div class="container">
  <h1>Configurações</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h6 class="flash-messages text-center alert alert-info">{{ message }}</h6>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="/settings" method="POST">
    <div class="form-group">
      <label for="photo">Foto do Usuário (link):</label>
      <input type="url" class="form-control" name="photo" id="photo" placeholder="https://">
    </div>
    <div class="form-group">
      <label for="password">Nova Senha:</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Digite a nova senha">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirme a Nova Senha:</label>
      <input type="password" class="form-control" name="confirm-password" id="confirm-password"
        placeholder="Confirme a nova senha">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}